---
interface Props {
  title: string;
  commands: string[];
}

const { title, commands } = Astro.props;
---

<section class="command-block">
  <h2>{title}</h2>
  {commands.map((command) => (
    <pre><code>{command}</code></pre>
  ))}
</section>
